// Dimensions
$hero-height:100vh;
$inner-content-width: 1200px;
$content-width: 1344px;
$navbar-max-width: 1400px;

$text: #000;
$family-primary: "Noto Serif", serif;

$red: #d73949;

// Navbar
$navbar-height:5rem;
